body {
    width: 100%;
    max-width: 640px;
    margin: auto;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.button {
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* ========== MENU PAGE ========== */

#menu {
    height: 100%;
    margin: 0 5%;
    
    background-image: url(images/menu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#buttonsPadding {
    height: 45%;
}

.menuButton {
    width: 50%;
    padding-top: 11%;
    margin: 3% auto;
}

#vsPlayerButton {
    background-image: url(images/vsPlayerButton.png);
}

#vsPlayerButton:hover,
#vsPlayerButton:active {
    background-image: url(images/vsPlayerButton_highlight.png);
}

#vsComputerButton {
    background-image: url(images/vsComputerButton.png);
}

#vsComputerButton:hover,
#vsComputerButton:active {
    background-image: url(images/vsComputerButton_highlight.png);
}

#settingsButton {
    background-image: url(images/settingsButton.png);
}

#settingsButton:hover,
#settingsButton:active {
    background-image: url(images/settingsButton_highlight.png);
}

/* ========== GAME PAGE ========== */
#scores {
    width: 35%;
    margin: auto;
    padding: 20px;
    overflow: auto;
}

.scorePanel {
    float: left;
    width: 50%;
}

.scorePieceImage {
    width: 50%;
}

.scoreText {
    vertical-align: super;
}

#turnIndicator {
    width: 50%;
    padding-top: 2%;
    background-color: #AB8C76;
    clear: both;
}

#board {
    width: 90vw;
    height: 90vw;
    max-width: 600px;
    max-height: 600px;
    margin: auto;
    border: 1px solid grey;
}

.cell {
    width: 12.5%;
    height: 12.5%;
    padding: 0;
}

.evenCell {
    background-color: #E8E1B7;
}

.oddCell {
    background-color: #AB8C76;
}

.piece {
    position: absolute;
    height: 11vw;
    width: 11vw;
    max-height: 75px;
    max-width: 75px;
}

.blackPiece {
    background-image: url(images/rook_black.png);
    background-size: 100%;
}

.whitePiece {
    background-image: url(images/rook_white.png);
    background-size: 100%;
}

.selected {
    background-color: rgba(255, 255, 255, 0.5);
}

.backButton {
    background-image: url(images/back_button.png);
    width: 40%;
    padding-top: 9%;
    margin: 5% auto 0 auto;
}

.backButton:hover,
.backButton:active {
    background-image: url(images/back_button_highlight.png);
}

.confirmationScreen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;
}

.confirmationSmokeScreen {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.confirmationDialog {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    
    padding: 30px;
    height: 400px;
    width: 600px;
    background-color: white;
}

.confirmationDialogText {
    height: 50%;
    width: 80%;
    margin: 10% auto;
    text-align: center;
}

.confirmationDialogButton {
    height: 18%;
    width: 40%;
    margin: 0 5%;
    
    float: left;
}

.yesButton {
    background-image: url(images/yes_button.png);
}

.noButton {
    background-image: url(images/no_button.png);
}

.yesButton:hover,
.yesButton:active {
    background-image: url(images/yes_button_highlight.png);
}

.noButton:hover,
.noButton:active {
    background-image: url(images/no_button_highlight.png);
}

/* ========== CSS for mobile devices ========== */
@media only screen and (max-device-width: 480px) {
    body {
        max-width: 100%;
        font-size: 3em;
    }
    
    #board {
        max-width: 90vw;
        max-height: 90vw;
    }

    .piece {
        height: 11vw;
        width: 11vw;
        max-height: 100%;
        max-width: 100%;
    }
    
    .confirmationDialog {
        height: 60vw;
        width: 90vw;
    }
}