body {
    width: 100%;
    max-width: 640px;
    margin: auto;
}

/* ========== MENU PAGE ========== */

#menu {
    height: 100%;
    margin: 0 5%;
    
    background-image: url(images/menu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#buttonsPadding {
    height: 45%;
}

.menuButton {
    width: 50%;
    padding-top: 11%;
    margin: 3% auto;
    cursor: pointer;
    
    background-size: 100%;
    background-repeat: no-repeat;
}

#vsPlayerButton {
    background-image: url(images/vsPlayerButton.png);
}

#vsPlayerButton:hover,
#vsPlayerButton:active {
    background-image: url(images/vsPlayerButton_highlight.png);
}

#vsComputerButton {
    background-image: url(images/vsComputerButton.png);
}

#vsComputerButton:hover,
#vsComputerButton:active {
    background-image: url(images/vsComputerButton_highlight.png);
}

#settingsButton {
    background-image: url(images/settingsButton.png);
}

#settingsButton:hover,
#settingsButton:active {
    background-image: url(images/settingsButton_highlight.png);
}

/* ========== GAME PAGE ========== */

#board {
    width: 90vw;
    height: 90vw;
    max-width: 600px;
    max-height: 600px;
    margin: auto;
    border: 1px solid grey;
}

.cell {
    width: 12.5%;
    height: 12.5%;
    padding: 0;
}

.evenCell {
    background-color: #E8E1B7;
}

.oddCell {
    background-color: #AB8C76;
}

.piece {
    position: absolute;
    height: 11vw;
    width: 11vw;
    max-height: 75px;
    max-width: 75px;
}

.blackPiece {
    background-color: red;
}

.whitePiece {
    background-color: blue;
}

.selected {
    background-color: yellow;
}

/* ========== CSS for mobile devices ========== */
@media only screen and (max-device-width: 480px) {
    body {
        max-width: 100%;
    }
    
    #board {
        max-width: 90vw;
        max-height: 90vw;
    }

    .piece {
        height: 11vw;
        width: 11vw;
    }
}